body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u8151 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u8152 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
}
#u8153 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:690px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8155 {
  position:absolute;
  left:525px;
  top:237px;
  width:375px;
  height:44px;
}
#u8156 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8157 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u8158 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u8159 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u8160 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8161 {
  position:absolute;
  left:570px;
  top:266px;
  width:187px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8162 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u8163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8163 {
  position:absolute;
  left:546px;
  top:266px;
  width:14px;
  height:23px;
  color:#FFFFFF;
}
#u8164 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  white-space:nowrap;
}
#u8165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u8165 {
  position:absolute;
  left:563px;
  top:307px;
  width:76px;
  height:76px;
  color:#FFFFFF;
}
#u8166 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  word-wrap:break-word;
}
#u8167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8167 {
  position:absolute;
  left:629px;
  top:406px;
  width:128px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8168 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8169 {
  position:absolute;
  left:656px;
  top:337px;
  width:113px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u8170 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8171 {
  position:absolute;
  left:593px;
  top:481px;
  width:200px;
  height:1px;
}
#u8172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8173 {
  position:absolute;
  left:593px;
  top:455px;
  width:99px;
  height:16px;
  color:#CCCCCC;
}
#u8174 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8175 {
  position:absolute;
  left:593px;
  top:535px;
  width:200px;
  height:1px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8177 {
  position:absolute;
  left:593px;
  top:509px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u8178 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8179 {
  position:absolute;
  left:593px;
  top:593px;
  width:200px;
  height:1px;
}
#u8180 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8181 {
  position:absolute;
  left:593px;
  top:567px;
  width:71px;
  height:16px;
  color:#CCCCCC;
}
#u8182 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8183 {
  position:absolute;
  left:593px;
  top:645px;
  width:200px;
  height:1px;
}
#u8184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8185 {
  position:absolute;
  left:740px;
  top:619px;
  width:43px;
  height:16px;
}
#u8186 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8187 {
  position:absolute;
  left:593px;
  top:672px;
  width:200px;
  height:45px;
}
#u8188 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u8189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8189 {
  position:absolute;
  left:563px;
  top:764px;
  width:114px;
  height:16px;
}
#u8190 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u8191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8191 {
  position:absolute;
  left:563px;
  top:786px;
  width:309px;
  height:136px;
}
#u8192 {
  position:absolute;
  left:2px;
  top:60px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8193 {
  position:absolute;
  left:570px;
  top:801px;
  width:281px;
  height:70px;
}
#u8194 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u8195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u8195 {
  position:absolute;
  left:1080px;
  top:150px;
  width:424px;
  height:874px;
}
#u8196 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:690px;
}
#u8197 {
  position:absolute;
  left:1104px;
  top:245px;
  width:376px;
  height:690px;
}
#u8198 {
  position:absolute;
  left:2px;
  top:337px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8199 {
  position:absolute;
  left:1105px;
  top:237px;
  width:375px;
  height:44px;
}
#u8200 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8201 {
  position:absolute;
  left:1105px;
  top:233px;
  width:375px;
  height:64px;
}
#u8202 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u8203 {
  position:absolute;
  left:1110px;
  top:243px;
  width:360px;
  height:11px;
}
#u8204 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8205 {
  position:absolute;
  left:1150px;
  top:266px;
  width:187px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8206 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u8207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8207 {
  position:absolute;
  left:1126px;
  top:266px;
  width:14px;
  height:23px;
  color:#FFFFFF;
}
#u8208 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  white-space:nowrap;
}
#u8209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8209 {
  position:absolute;
  left:1105px;
  top:297px;
  width:375px;
  height:167px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8211 {
  position:absolute;
  left:1145px;
  top:338px;
  width:95px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8212 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u8213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u8213 {
  position:absolute;
  left:1240px;
  top:328px;
  width:105px;
  height:47px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u8214 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8215 {
  position:absolute;
  left:1355px;
  top:338px;
  width:43px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8216 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8217 {
  position:absolute;
  left:1126px;
  top:535px;
  width:300px;
  height:59px;
  color:#FFFFFF;
}
#u8218 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u8219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8219 {
  position:absolute;
  left:1195px;
  top:868px;
  width:71px;
  height:16px;
}
#u8220 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8221 {
  position:absolute;
  left:1309px;
  top:868px;
  width:71px;
  height:16px;
}
#u8222 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u8223 {
  position:absolute;
  left:1292px;
  top:868px;
  width:1px;
  height:16px;
}
#u8224 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u8225 {
  position:absolute;
  left:680px;
  top:727px;
  width:113px;
  height:16px;
  text-decoration:underline;
}
#u8226 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8227 {
  position:absolute;
  left:593px;
  top:619px;
  width:49px;
  height:16px;
  color:#000000;
}
#u8228 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u8229 {
  position:absolute;
  left:708px;
  top:505px;
  width:75px;
  height:25px;
}
#u8230 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8231 {
  position:absolute;
  left:1158px;
  top:417px;
  width:270px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8232 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  white-space:nowrap;
}
#u8233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8233 {
  position:absolute;
  left:59px;
  top:455px;
  width:416px;
  height:119px;
}
#u8234 {
  position:absolute;
  left:2px;
  top:52px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:72px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8235 {
  position:absolute;
  left:386px;
  top:486px;
  width:80px;
  height:72px;
  color:#FFFFFF;
}
#u8236 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u8237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8237 {
  position:absolute;
  left:72px;
  top:473px;
  width:59px;
  height:26px;
  font-size:18px;
}
#u8238 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u8239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8239 {
  position:absolute;
  left:72px;
  top:518px;
  width:291px;
  height:23px;
}
#u8240 {
  position:absolute;
  left:2px;
  top:2px;
  width:287px;
  white-space:nowrap;
}
