body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:874px;
}
#u2909 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:874px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:429px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u2911 {
  position:absolute;
  left:524px;
  top:245px;
  width:376px;
  height:686px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  position:absolute;
  left:525px;
  top:233px;
  width:375px;
  height:64px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2915 {
  position:absolute;
  left:530px;
  top:243px;
  width:360px;
  height:11px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2917 {
  position:absolute;
  left:677px;
  top:262px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2918 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  white-space:nowrap;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u2919 {
  position:absolute;
  left:536px;
  top:353px;
  width:354px;
  height:1px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2921 {
  position:absolute;
  left:546px;
  top:264px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u2922 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2923 {
  position:absolute;
  left:531px;
  top:269px;
  width:9px;
  height:15px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2925 {
  position:absolute;
  left:536px;
  top:317px;
  width:97px;
  height:26px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  white-space:nowrap;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2927 {
  position:absolute;
  left:536px;
  top:374px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u2928 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u2929 {
  position:absolute;
  left:536px;
  top:410px;
  width:354px;
  height:1px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2931 {
  position:absolute;
  left:805px;
  top:374px;
  width:85px;
  height:26px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u2933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2933 {
  position:absolute;
  left:563px;
  top:447px;
  width:300px;
  height:50px;
  color:#FFFFFF;
}
#u2934 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:1700px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2935 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3000px;
  height:1700px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:842px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2937 {
  position:absolute;
  left:10px;
  top:1110px;
  width:300px;
  height:20px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2939 {
  position:absolute;
  left:10px;
  top:1112px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2940 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2941 {
  position:absolute;
  left:10px;
  top:1140px;
  width:375px;
  height:64px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2943 {
  position:absolute;
  left:15px;
  top:1150px;
  width:360px;
  height:11px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2945 {
  position:absolute;
  left:150px;
  top:1174px;
  width:95px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2946 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2947 {
  position:absolute;
  left:31px;
  top:1171px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u2948 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2949 {
  position:absolute;
  left:16px;
  top:1176px;
  width:9px;
  height:15px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2951 {
  position:absolute;
  left:486px;
  top:1209px;
  width:25px;
  height:14px;
}
#u2952 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2953 {
  position:absolute;
  left:50px;
  top:1196px;
  width:0px;
  height:0px;
}
#u2953_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u2953_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:28px;
}
#u2953_seg2 {
  position:absolute;
  left:-2px;
  top:16px;
  width:438px;
  height:8px;
}
#u2953_seg3 {
  position:absolute;
  left:422px;
  top:10px;
  width:21px;
  height:20px;
}
#u2954 {
  position:absolute;
  left:158px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u2955 {
  position:absolute;
  left:486px;
  top:1233px;
  width:37px;
  height:14px;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  position:absolute;
  left:523px;
  top:1233px;
  width:61px;
  height:14px;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u2959 {
  position:absolute;
  left:584px;
  top:1233px;
  width:65px;
  height:14px;
  color:#0280F1;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:686px;
}
#u2961 {
  position:absolute;
  left:10px;
  top:1284px;
  width:376px;
  height:686px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:335px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u2963 {
  position:absolute;
  left:22px;
  top:1392px;
  width:354px;
  height:1px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2965 {
  position:absolute;
  left:22px;
  top:1356px;
  width:97px;
  height:26px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  white-space:nowrap;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2967 {
  position:absolute;
  left:22px;
  top:1413px;
  width:101px;
  height:26px;
  color:#CCCCCC;
}
#u2968 {
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  white-space:nowrap;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u2969 {
  position:absolute;
  left:22px;
  top:1449px;
  width:354px;
  height:1px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2971 {
  position:absolute;
  left:291px;
  top:1413px;
  width:85px;
  height:26px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2973 {
  position:absolute;
  left:49px;
  top:1486px;
  width:300px;
  height:50px;
  color:#FFFFFF;
}
#u2974 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2975 {
  position:absolute;
  left:486px;
  top:1419px;
  width:61px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977 {
  position:absolute;
  left:523px;
  top:1443px;
  width:532px;
  height:14px;
}
#u2978 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  white-space:nowrap;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u2979 {
  position:absolute;
  left:486px;
  top:1467px;
  width:37px;
  height:14px;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2981 {
  position:absolute;
  left:376px;
  top:1426px;
  width:0px;
  height:0px;
}
#u2981_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u2981_seg1 {
  position:absolute;
  left:96px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2982 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u2983 {
  position:absolute;
  left:486px;
  top:1443px;
  width:37px;
  height:14px;
}
#u2984 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2985 {
  position:absolute;
  left:523px;
  top:1467px;
  width:205px;
  height:14px;
}
#u2986 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2987 {
  position:absolute;
  left:486px;
  top:1542px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2988 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2989 {
  position:absolute;
  left:199px;
  top:1536px;
  width:0px;
  height:0px;
}
#u2989_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u2989_seg1 {
  position:absolute;
  left:-4px;
  top:9px;
  width:291px;
  height:8px;
}
#u2989_seg2 {
  position:absolute;
  left:273px;
  top:3px;
  width:21px;
  height:20px;
}
#u2990 {
  position:absolute;
  left:87px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u2991 {
  position:absolute;
  left:486px;
  top:1590px;
  width:37px;
  height:14px;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2993 {
  position:absolute;
  left:523px;
  top:1590px;
  width:157px;
  height:14px;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2995 {
  position:absolute;
  left:543px;
  top:1604px;
  width:196px;
  height:14px;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2997 {
  position:absolute;
  left:543px;
  top:1618px;
  width:49px;
  height:14px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0280F1;
}
#u2999 {
  position:absolute;
  left:592px;
  top:1618px;
  width:113px;
  height:14px;
  color:#0280F1;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3001 {
  position:absolute;
  left:523px;
  top:1566px;
  width:157px;
  height:14px;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u3003 {
  position:absolute;
  left:486px;
  top:1566px;
  width:37px;
  height:14px;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
